
<template type="text/x-template" id="ProductDisplay">
	<p>Coming from Vue Component</p>
	<p>{{name}}<p>
	<p>{{message}}<p>
</template>

   <script type="text/javascript">
	var vueProduct = {
		template: '#ProductDisplay',
		 props: {
				name: ''
			},
		
	    data: function() {
				return {
				message: "I'm in test mode"
			}
		},
		methods: {
		
		},
		computed: {
		
		}
	}

   </script>